@page
@model TicketSystem.Pages.Cases.DetailsModel

@{
    ViewData["Title"] = "Sags detaljer";
}

<h1>Detaljer</h1>

<div>
    <h4>Sag</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Case.Requestor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Case.Requestor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Case.Operator)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Case.Operator)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Case.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Case.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Case.Details)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Case.Details)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Case.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Case.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Case.Created)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Case.Created)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Case.Closed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Case.Closed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Case.Operator.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Case.Operator.UserName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Case.CaseID">Gem ændringer</a> |
    <a asp-page="./Index">Fortryd</a>
</div>
